*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    }
    
    .div card-body{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .row{
        padding: 100px;
        border-radius: 16px;
        filter: drop-shadow(8px 8px 8px black);
    
    }
    
    img{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        filter: drop-shadow(1px 1px 1px black);   
    }
    
    h5{
        text-align: center;
        filter: drop-shadow(2px 3px 1px black);
    }
    
    h1{
        padding: 50px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: large;
        filter: drop-shadow(1px 5px 1px black);
    
    }
    
    .card-body button{
        border-color: black;
        margin: 15px;
        filter: drop-shadow(8px 4px 2px black);
        margin-left: 50px;
    
    }
    
    .form-floating  textarea{
        margin-top: 50px;
    }
    
    .form-floating label{
        margin-top: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        filter: drop-shadow(1px 2px 1px grey);
    }
    /*pagina catalogo fin*/

    /*pagina Login*/


.container{
    padding: 100px;
    filter: drop-shadow(2px 20px 1px rgb(247, 241, 241));
}

form{
    width: 500px;
    display: block;
    background-color: white;
    border-bottom: 10px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 20px white);

}

.btn-primary{
    margin: 30px;
    margin-left: 200px;
}

input{
    filter: drop-shadow(8px 4px 2px black);
}

svg{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}
    /*fin de pagina lohin*/

.btn-warning{
    margin: 30px;
    margin-left: 680px;
}

.calendar{
    margin-left: 490px;
    padding: 10px;
}