* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color:white;
    border-radius: 15px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.log {
    color: black;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.form {
    background-color:powderblue;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    border-color: white;

}

.form input {
    margin-top: 10px;
    border-radius: 8px;
    border-color: transparent;
    border-color:white;
}

.create {
    max-width: 768px;
    min-width: 320px;
    border-radius: 20px;
    background-color:powderblue;
    padding: 50px;
}

.form p {
    color: black;
}

.sexo {
    color: black;
}

.form button{
    background-color: white;
    border-radius: 15px;
    border-color: white;
}

